<!DOCTYPE html>
<html>
<body>
    <form action="/gallery/" method="get">
        <input type="text" name="query" placeholder="Search by text" value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    <a href="/">Upload</a>
    <div>
        {% for photo in photos %}
        <div>
            <img src="/uploads/{{ photo[1] }}">
            {% if photo[2] is not none %}
            <p>Similarity: {{ photo[2] }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
</html>